* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #003049;
  color: white;
}

.container {
  height: 95vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img {
  height: 40px;
}

span {
  font-size: 30px;
}

button {
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(1.08);
  }
}

.buttonSection {
  display: flex;
  gap: 20px;
}

#output {
  display: flex;
  gap: 60px;
  height: 100px;
  img {
    width: 100px;
    height: 100px;
  }
}

#scores {
  display: flex;
  gap: 40px;
  border: 4px white solid;
  padding: 30px 60px;
  border-radius: 10px;
  position: relative;
}

#cpuName,
#userName {
  font-size: 20px;
  background-color: #fcbf49;
  padding: 5px;
  position: absolute;
}

#cpuName {
  right: -22px;
}

@keyframes shakeCpu {
  0% {
    transform: rotateZ(-95deg);
  }
  100% {
    transform: rotateZ(-85deg);
  }
}

@keyframes shakeUser {
  0% {
    transform: rotateZ(-85deg) rotateX(180deg);
  }
  100% {
    transform: rotateZ(-95deg) rotateX(180deg);
  }
}

#userHand {
  font-size: 100px;
  animation: shakeUser 0.3s infinite linear alternate;
}

#cpuHand {
  font-size: 100px;
  animation: shakeCpu 0.3s infinite linear alternate;
}

#userName {
  left: -32px;
}

@media (min-width: 500px) {
  #scores {
    padding: 30px 100px;
  }

  .container {
    width: 500px;
    height: 85vh;
  }
}
